<h1><%=@ranger.name%></h1>


<h2>Parks</h2>
<% for park in @parks do %>
    <p><a href="/parks/<%=park.id%>" class="listed"><%=park.name%></a></p>
  <%end%>

<p><a href="/rangers/<%=@ranger.id%>/edit"><button>edit</button></a>
<button><%= link_to "Fire this employee", ranger_path(@ranger.id), method: :delete%></button>
</p>
